<html>
<head>
    <title>Ejercicio 2</title>
</head>
<body>
    <h2>Estadísticas</h2>
    <p>Número de muestras: <span id="num_muestras">{{num_muestras}}</span></p>
    <p>Media de valoraciones: <span id="media_valoraciones">{{media_valoraciones}}</span></p>
    <p>Desviación de valoraciones: <span id="desviacion_valoraciones">{{desviacion_valoraciones}}</span></p>
    <p>Media de incidentes por cliente: <span id="media_incidentes">{{media_incidentes}}</span> </p>
    <p>Desviación de incidentes por clientes: <span id="desviacion_incidentes">{{desviacion_incidentes}}</span></p>
    <p>Media de horas: <span id="media_horas"></span>{{media_horas}}</p>
    <p>Desviación de horas: <span id="desviacion_horas">{{desviacion_horas}}</span></p>
    <p>Horas mínimas: <span id="min_horas"></span>{{min_horas}}</p>
    <p>Horas máximas: <span id="max_horas"></span>{{max_horas}}</p>
    <p>Tiempo mínimo: <span id="min_tiempo"></span>{{min_tiempo}}</p>
    <p>Tiempo máximo: <span id="max_tiempo"></span>{{max_tiempo}}</p>
    <p>Valor mínimo incidentes empleados: <span id="valor_minimo"></span>{{valor_minimo}}</p>
    <p>Valor máximo incidentes empleados: <span id="valor_maximo"></span>{{valor_maximo}}</p>
</body>

</html>